process {
    executor = 'crg'
    penv = 'smp'
    queue = 'cn-el7'
    memory = 16.GB 
    errorStrategy = 'finish'
    scratch=true

    $1C_prepare_genome_picard {
        memory = 64.GB
    }   
 
    $1A_prepare_star_genome_index {
        cpus = 2
        memory = 16.GB
    }
    
    $2_rnaseq_mapping_star {
        cpus = 2
        memory = 16.GB
    }

    $3_rnaseq_gatk_splitNcigar {
        cpu = 4
        memory = 48.GB
    }

    $4_rnaseq_gatk_recalibrate {
        cpu = 6
        memory = 48.GB
    }

    $5_rnaseq_call_variants {
        cpu = 4 
        memory = 48.GB
    }

    $6C_ASE_knownSNPs {
        cpu = 4 
        memory = 48.GB
    }
}

dag.enabled = true
trace.enabled = true
timeline.enabled = true

params.gatk = "$baseDir/GenomeAnalysisTK.jar"

docker.enabled = true
docker.runOptions = "-v $params.gatk:$params.gatk"

singularity.enabled = false
process.container = 'cbcrg/ngs2017ws-nf'

profiles {
  cluster_large_dataset {
    params {
      genome    = "/no_backup/rg/avlasova/NGS_2017/refs/Homo_sapiens.GRCh37.chromosomes.chr22.fa"
      variants  = "$baseDir/data/known_variants.vcf.gz"
      blacklist = "$baseDir/data/blacklist.bed" 
      reads     = "/no_backup/rg/avlasova/NGS_2017/rnaseq/*_{1,2}.fq.gz"
    }
}
}
