def time_mod(time, attempt) {(attempt == 1) ? time : (time + (attempt * (time / 2)))}
def memory_mod(memory, attempt) {(attempt == 1) ? memory : (memory + (attempt * (memory / 2)))}


params.gatk = "$PWD/GenomeAnalysisTK.jar"
process.container = "cbcrg/callings-nf@sha256:b65a7d721b9dd2da07d6bdd7f868b04039860f14fa514add975c59e68614c310"
process.cpus = 8

profiles {
    slurm {
        executor {
           name = 'slurm'
           queueSize = 200
           pollInterval = '30 sec'
        }
        process {
    
            executor = 'slurm'
            stageInMode = 'symlink'
            errorStrategy = 'retry'
            maxRetries = 5
            cache = 'lenient'
            
            withLabel: star {
                cpus = 12
                memory = { memory_mod(48.GB, task.attempt) } 
                time = { time_mod(12.hour, task.attempt) }
                queue = 'comp'
                clusterOptions = '--account=mx82 --qos=normal'    
            }
        }
    }
}

