manifest {
    description = 'Variant Calling Analysis based on GATK best practices.'
    nextflowVersion = '>= 20.07.0'
}

profiles {
    standard {
        process.container = 'cbcrg/callings-nf:gatk4'
    }

    docker {
        process.container = 'cbcrg/callings-nf:gatk4'
        docker.enabled = true
    }
    
    batch {
        process.container = 'cbcrg/callings-nf:gatk4'
        process.memory = 8.GB
        process.executor = 'awsbatch'
        process.queue = 'nextflow-ci'
        workDir = 's3://nextflow-ci/work'
        aws.region = 'eu-west-1'
        aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
    }

    aws {
        process.memory = 8.GB
        process.container = 'cbcrg/callings-nf:gatk4'

        params {
           genome     = "s3://callings-nf/data/genome.fa"
           reads      = "s3://callings-nf/data/reads/rep*_{1,2}.fq.gz"
           variants   = "s3://callings-nf/data/known_variants.vcf.gz"
           blacklist  = "s3://callings-nf/data/blacklist.bed"         
           results    = "s3://nextflow-ci/callings/results"
        }
    }

    cluster {
        process.container = 'cbcrg/callings-nf:gatk4'

        singularity.enabled = true

        params {
            genome    = "$baseDir/data/genome.fa"
            reads     = "$baseDir/data/reads/rep*_{1,2}.fq.gz"
            variants  = "$baseDir/data/known_variants.vcf.gz"
            blacklist = "$baseDir/data/blacklist.bed"
        }

        process {
            executor = 'crg'
            penv = 'smp'
            queue = 'cn-el7'
            memory = 16.GB
            errorStrategy = 'finish'
            scratch=true
            withLabel: mem_large { memory = 48.GB }
            withLabel: mem_xlarge { memory = 64.GB }
        }
    }
}

